<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/Winners_at_War_Logo.png" style="margin: 10px 40px 10px 40px;"></ion-img>
  <ion-card *ngFor="let player of players">
    <img [src]="'assets/players/' + player.imagePath"
      style="height:150px; width:150px; border-radius:10px; margin:10px auto 10px auto; display:block" />
    <ion-card-header>
      <ion-card-subtitle>Score: {{getPlayerScore(player.playerId)}} points</ion-card-subtitle>
      <ion-card-title>{{player.firstName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let survivor of getPlayerSurvivors(player.playerId)">
          <ion-label>{{survivor.firstName}} {{survivor.lastName}} | {{getSurvivorScore(survivor)}} points</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>